* {
  margin: 0;
  font-family: "Bitter", serif;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  text-align: center;
}
.hidden {
  display: none;
}

body {
  width: 100%;
  margin: 0;
  padding-bottom: 15%;
  /* bottom: 0%; */
  background-color: rgb(199, 226, 243);
  /* display: block; */
  position: absolute;
}

header {
  height: 20%;
  background-image: url("https://images.unsplash.com/photo-1489389944381-3471b5b30f04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4868cc90c3c515fb1316574d9aff1640&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

header p {
  font-size: 29px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  padding: 15px;
}

.container {
  display: block;
  min-height: 100%;
  position: relative;
  /* bottom: 0%; */
}

.commonPages {
  padding: 35px;
  margin: 10%;
  position: relative;
  bottom: 0%;
  height: 100%;
}

form input {
  position: relative;
  display: block;
  left: 50%;
  transform: translate(-55%);
  margin: 30px;
  padding: 10px;
  border-radius: 12px;
  border-color: lemonchiffon;
  width: 300px;
}

/* form p {
  display: inline-block;
} */

button {
  border-radius: 10px 0 10px 0;
  background-color: yellow;
  border-color: thistle;
  padding: 10px;
  width: 120px;
  margin: 25px;
  right: 0;
}

#question {
  font-size: 25px;
  margin: 20px 0 60px 0;
}

#inputEditor input {
  margin: 15px;
}

#inputEditor {
  border-radius: 15px;
}
.error {
  display: hidden;
}
form.error input {
  border: 2px solid red;
}
form.error .errorMessage {
  display: block;
  color: red;
  font-size: 15px;
}
.errorMessage {
  display: none;
}

footer {
  border-top: 2px solid rgba(0, 225, 255, 0.33);
  height: 70px;
  /* position: absolute; */
  bottom: 0;
  background-color: rgb(59, 97, 121);
  width: 100%;
}

footer.a {
  cursor: pointer;
}

footer p {
  display: inline-block;
  padding: 15px 35px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  vertical-align: 25px;
}

footer img {
  padding: 10px 20px;
  max-width: 50px;
  max-height: 50px;
  margin: 0 10px;
}

/* @media (max-height: 400px) {
  .container {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
} */
@media (max-width: 400px) {
  .container {
    width: 100%;
    display: block;
  }
}
