* {
  margin: 0;
  font-family: "Bitter", serif;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  text-align: center;
  position: relative;
}
.hidden {
  display: none;
}
body {
  /* width: 100%;
  height: 100%; */
  /* position: relative; */
  min-height: 100%;
}

header {
  /* position: relative; */
  height: 20%;
  background-image: url("https://images.unsplash.com/photo-1489389944381-3471b5b30f04?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4868cc90c3c515fb1316574d9aff1640&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  /* padding: 1px; */
}

header p {
  font-size: 29px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  /* display: inline-block; */
  padding: 15px;
}

.container {
  background-color: rgb(199, 226, 243);
  position: relative;
  /* height: 60%; */
  text-align: center;
  display: block;
}

.commonPages {
  height: 60%;
  padding: 35px;
  /* text-align: center; */
}

form input {
  position: relative;
  display: block;
  left: 50%;
  transform: translate(-55%);
  margin: 30px;
  padding: 10px;
  border-radius: 12px;
  border-color: lemonchiffon;
  outline: none;
  width: 300px;
}

form p {
  display: inline-block;
}

button {
  border-radius: 10px 0 10px 0;
  background-color: yellow;
  border-color: thistle;
  padding: 10px;
  width: 120px;
  margin: 25px;
  right: 0;
}

#question {
  font-size: 25px;
  margin: 20px 0 60px 0;
}

#inputEditor input {
  margin: 15px;
}

#inputEditor {
    border-radius: 15px;
}

footer {
  border-top: 2px solid rgba(0, 225, 255, 0.33);
  
  position: absolute;
  background-color: rgb(59, 97, 121);
  padding: 15px;
  width:98%;
  height:11%;


}

footer p {
  display: inline-block;
  padding: 0 35px;
  font-size: 15px;
}
